<!-- Collections Modal -->
<div
	class="modal fade"
	id="collectionsModal"
	tabindex="-1"
	aria-labelledby="collectionsModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="collectionsModalLabel">
					Collections
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<!-- Loop over collections to display them -->
				{% if not collections %}
				<p>You have no collections. Create one below!</p>
				{% endif %} {% for collection in collections %}
				<h6>{{ collection.name }}</h6>
				<p>{{ collection.description }}</p>
				{% endfor %}
			</div>
			<div class="modal-footer">
				<a href="/collections/new" class="btn btn-primary">
					Create Collection</a
				>
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
</div>
