{% extends 'base.html' %} {% block title %}Drinks{% endblock %} {% block
content%}

<div class="container">
	<h1>{{heading}}</h1>
	<div class="row">
		{% for drink in drinks %}
		<div class="col-md-4">
			<div class="card mb-3">
				<img
					src="{{ drink['strDrinkThumb'] }}"
					class="card-img-top"
					alt="{{ drink['strDrink'] }}"
				/>
				<div class="card-body">
					<div class="d-flex align-items-center">
						<form
							action="/drinks/{{ drink['idDrink'] }}/favorite"
							method="post"
							class="favorite-form"
						>
							{% if
							FavoriteDrink.query.filter_by(drink_id=drink['idDrink'],
							user_id=session.get('USER_ID')).first() %}
							<button
								type="submit"
								class="btn btn-warning btn-lg me-2 favorite-btn"
								id="favorite-btn-{{ drink['idDrink'] }}"
							>
								<i class="far fa-star"></i>
							</button>
							{% else %}
							<button
								type="submit"
								class="btn btn-outline-secondary btn-lg favorite-btn"
								id="favorite-btn-{{ drink['idDrink'] }}"
							>
								<i class="fas fa-star"></i>
							</button>
							{% endif %}
						</form>
						<h5 class="card-title mb-0">{{ drink['strDrink'] }}</h5>
					</div>
					<div class="d-flex align-items-center">
						<a
							href="/drinks/{{ drink['idDrink'] }}"
							class="btn btn-primary"
						>
							View Details
						</a>
						<button
							type="button"
							class="btn btn-secondary mx-2"
							{% if not session.get('USER_ID') %}
								onclick="showLoginError()"
							{% else %}
								data-bs-toggle="modal"
								data-bs-target="#collectionsModal"
								onclick="setDrinkId( `{{ drink['idDrink'] }}` )"
							{% endif %}
						>
							View Collections
						</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% include '_collections_modal.html' %} {% include '_favorite_button_script.html' %} {%
endblock %}
