{% extends 'base.html' %} {% block title %}Drink{% endblock %} {% block content
%}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img
				src="{{ drink['strDrinkThumb'] }}"
				alt="Drink Image"
				class="img-fluid img-border rounded"
			/>
		</div>
		<div class="col-md-6">
			<div class="drink-details">
				<div class="d-flex align-items-center">
					<!-- Favorite Button -->
					<form
						action="/drinks/{{ drink['idDrink'] }}/favorite"
						method="post"
						class="favorite-form"
					>
						{% if
						FavoriteDrink.query.filter_by(drink_id=drink['idDrink'],
						user_id=session.get('USER_ID')).first() %}
						<button
							type="submit"
							class="btn btn-warning btn-lg me-2 favorite-btn"
							id="favorite-btn-{{ drink['idDrink'] }}"
						>
							<i class="far fa-star"></i>
						</button>
						{% else %}
						<button
							type="submit"
							class="btn btn-outline-secondary btn-lg favorite-btn"
							id="favorite-btn-{{ drink['idDrink'] }}"
						>
							<i class="fas fa-star"></i>
						</button>
						{% endif %}
					</form>
					<h2 class="mb-0">{{ drink['strDrink'] }}</h2>
				</div>
				<!-- View Collections Button -->
				<button
					type="button"
					class="btn btn-primary my-1"
					{% if not session.get('USER_ID') %}
						onclick="showLoginError()"
					{% else %}
						data-bs-toggle="modal"
						data-bs-target="#collectionsModal"
						onclick="setDrinkId( `{{ drink['idDrink'] }}` )"
					{% endif %}
				>
					View Collections
				</button>
				<p><strong>Category:</strong> {{drink['strCategory']}}</p>
				<p><strong>Glass:</strong> {{drink["strGlass"]}}</p>
				<p><strong>Alcohol:</strong> {{drink["strAlcoholic"]}}</p>
				<h4>Ingredients:</h4>
				<ul>
					{% for i in range(1, 16) %} {% if drink["strIngredient" ~ i]
					%}
					<li>
						{{drink["strMeasure" ~ i]}} {{drink["strIngredient" ~
						i]}}
					</li>
					{% endif %} {% endfor %}
				</ul>
				<h4>Instructions:</h4>
				<p class="drink-instructions">{{drink["strInstructions"]}}</p>
			</div>
		</div>
	</div>
</div>

{% include '_collections_modal.html' %} {% include '_favorite_button_script.html' %} {%
endblock %}
