{% extends 'base.html' %} {% block title %}Create_Collection{% endblock %} {%
block content %}

<div class="container centered">
	<h1 class="mb-4">Edit {{collection.name}}</h1>
	<div class="col-md-8 offset-md-2">
		<form method="POST" action="/collections/{{collection.id}}/edit">
			{{ form.csrf_token }} 

			<div class="form-group">
				{{ form.name.label }} {{ form.name(class="form-control",
				value=collection.name) }}
			</div>

			<div class="form-group">
				{{ form.description.label }} {{
				form.description(class="form-control",
				value=collection.description) }}
			</div>

			<button type="submit" class="btn btn-primary mt-4 btn-lg">
				Save
			</button>

			<a href="/collections" class="btn btn-secondary mt-4 btn-lg">Cancel</a>
		</form>
	</div>
</div>
{% endblock %}
